
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 50px;
    font-weight: normal;
}
a{
    color: aquamarine;
    font-size: 16px;
}
h2{
    font-weight: 300;
    font-size: 42px;
}
img{
    margin-top: 10px;
}
video{
    margin-top: 10px;
}
p{
    color: grey;
    font-size: 21px;
}
footer p{
    text-align: right;
}